<!doctype html>
<html lang="ja" xml:lang="ja">
<head>
<meta charset="utf-8" />
<link rev="made" href="mailto:tmasao@acm.org" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/fontawesome.min.css"/>
<title>ISBN Checker</title>
<style type="text/css">
.ok { color: green }
.bad { color: red }
</style>
<script language="JavaScript" type="application/javascript">
function select_table_and_copy(element_id) {
  var element = document.getElementById(element_id);
  var range = document.createRange();
  var sel = document.getSelection();
  sel.removeAllRanges();
  range.selectNodeContents(element);
  sel.addRange(range);
}
</script>
</head>
<body>
<h1>ISBN Checker</h1>
<p>ISBNデータの検証を行います。ISBNを1行ごとに改行して以下のフォームに入力してください:</p>
<div class="form">
<form action="<%=h request.script_name %>" method="POST">
<textarea rows="20" cols="50" name="isbns"><%=h params["isbns"] %></textarea>
<input type="submit" value="  Check!  " /><br>
</form>
</div>
<% if @isbns %>
  <button onclick="javascript:select_table_and_copy('results');">select all</button>
  <table border="1" id="results">
    <tr>
      <th>ISBN</th><th>result</th>
    </tr>
    <% @isbns.each do |isbn, result| %>
      <% result = result ? "ok" : "bad" %>
      <tr>
      <td><%=h isbn %></td>
      <td class="<%=h result %>"><%=h result %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<hr />
<div id="footer">
<address>
高久雅生 (Masao Takaku)<br>
<a href="https://masao.jpn.org/">https://masao.jpn.org/</a>, 
<a href="mailto:tmasao@acm.org">tmasao@acm.org</a>
</address>
<div>
<a href="https://github.com/masao/isbn-checker"><i class="fa fa-github-alt"></i> Github</a>
</div>
</div>
</body>
</html>
